.navbar-form {
    position: relative;
    display: flex;
    margin: 0;
    min-width: 300px;

    .btn-search {
        position: absolute;
        top: 11px;
        left: 14px;
        padding: 2px;
        background: none;
        border: 0 none;
        color: $gray700;

        &:focus {
            outline: none;
        }
    }

    .form-control {
        display: block;
        width: 100%;
        padding: $search-padding-x $search-padding-y $search-padding-x (
            $search-padding-y * 2
        );
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray700;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid $search-border-color;
    appearance: none;
    border-radius: $search-border-radius;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
}